### Test SQLite Database Storing with DataFrames

In [1]:
from sqlalchemy import create_engine, ForeignKey
from sqlalchemy import Column, Date, Integer, String
from sqlalchemy.ext.declarative import declarative_base

import pandas as pd

In [2]:
# Create an engine to create a SQLite database connection.
engine = create_engine('sqlite:///C:\\Users\\shaun\\OneDrive\\Documents\\code\\formula1\\notebooks\\hide_testing\\test.db', echo=True)

In [3]:
# Delare the base.
Base = declarative_base()

In [4]:
# Inherit from declaration, create con_standings table.
class ConstructorStandings(Base):
    # Table name.
    __tablename__ = "con_standings"
    
    # Table columns.
    uid = Column(Integer, primary_key=True)
    position = Column(Integer)
    constructor_name = Column(String)
    points = Column(Integer)
    wins = Column(Integer)
    constructor_url = Column(String)
    constructor_nationality = Column(String)
    season_year = Column(Integer)
    round_number = Column(Integer)
    
    # Initialize function.
    def __init__(self, name):
        self.name = name

In [5]:
# Create.
Base.metadata.create_all(engine)

2021-11-20 12:27:47,667 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-20 12:27:47,669 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("con_standings")
2021-11-20 12:27:47,669 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-20 12:27:47,670 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
# Test connection to database.
engine.execute("SELECT * FROM con_standings")

2021-11-20 12:27:53,820 INFO sqlalchemy.engine.Engine SELECT * FROM con_standings
2021-11-20 12:27:53,821 INFO sqlalchemy.engine.Engine [raw sql] ()

Gather data to test interaction with SQLite database.

In [13]:
df = pd.read_csv('../api_data/transformed_data/2021_r19_Constructor_Standings_SQLite_Names.csv', index_col='uid')
df.head()

,position,constructor_name,points,wins,constructor_url,constructor_nationality,season_year,round_number
uid,,,,,,,,
20211901,1,Mercedes,521.5,7,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,German,2021,19
20211902,2,Red Bull,510.5,10,http://en.wikipedia.org/wiki/Red_Bull_Racing,Austrian,2021,19
20211903,3,Ferrari,287.5,0,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Italian,2021,19
20211904,4,McLaren,256.0,1,http://en.wikipedia.org/wiki/McLaren,British,2021,19
20211905,5,Alpine F1 Team,112.0,1,http://en.wikipedia.org/wiki/Alpine_F1_Team,French,2021,19

In [14]:
# Convert data to SQL to store.
df.to_sql(name='con_standings', con=engine, if_exists='append')

2021-11-20 12:30:16,165 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("con_standings")
2021-11-20 12:30:16,165 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-20 12:30:16,168 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-20 12:30:16,170 INFO sqlalchemy.engine.Engine INSERT INTO con_standings (uid, position, constructor_name, points, wins, constructor_url, constructor_nationality, season_year, round_number) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-11-20 12:30:16,170 INFO sqlalchemy.engine.Engine [generated in 0.00053s] ((20211901, 1, 'Mercedes', 521.5, 7, 'http://en.wikipedia.org/wiki/Mercedes-Benz_in_Formula_One', 'German', 2021, 19), (20211902, 2, 'Red Bull', 510.5, 10, 'http://en.wikipedia.org/wiki/Red_Bull_Racing', 'Austrian', 2021, 19), (20211903, 3, 'Ferrari', 287.5, 0, 'http://en.wikipedia.org/wiki/Scuderia_Ferrari', 'Italian', 2021, 19), (20211904, 4, 'McLaren', 256.0, 1, 'http://en.wikipedia.org/wiki/McLaren', 'British', 2021, 19), (20211905, 5, 'Alpine F1 Team', 112.0, 1, 'http://en.wikipedia.org/wiki/Alpine_F1_Team', 'French', 2021, 19), (20211906, 6, 'AlphaTauri', 112.0, 0, 'http://en.wikipedia.org/wiki/Scuderia_AlphaTauri', 'Italian', 2021, 19), (20211907, 7, 'Aston Martin', 68.0, 0, 'http://en.wikipedia.org/wiki/Aston_Martin_in_Formula_One', 'British', 2021, 19), (20211908, 8, 'Williams', 23.0, 0, 'http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engineering', 'British', 2021, 19), (20211909, 9, 'Alfa Romeo', 11.0, 0, 'http://en.wikipedia.org/wiki/Alfa_Romeo_in_Formula_One', 'Swiss', 2021, 19), (20211910, 10, 'Haas F1 Team', 0.0, 0, 'http://en.wikipedia.org/wiki/Haas_F1_Team', 'American', 2021, 19))
2021-11-20 12:30:16,171 INFO sqlalchemy.engine.Engine COMMIT