### Get the Round Counts

Create season year and round quantity values to populate drop down menu on con_standings page.

In [28]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('../api_data/races.csv', index_col='raceId')
df.head()

,year,round,circuitId,name,date,time,url
raceId,,,,,,,
1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [53]:
# Group by year column (number of rounds).
year_df = df.groupby('year').count()[['round']]
year_df.index.name = 'season_year'
year_df.columns = ['round_quantity']
year_df = year_df.sort_index(ascending=False)
year_df.head()

             round_quantity
season_year
2021                     22
2020                     17
2019                     21
2018                     21
2017                     20

In [54]:
year_df.to_json('../api_data/test.json')

In [34]:
mm_json = []
# Loop through and store values.
for year in year_df:
    mm_json.append({'season_year': year, 'round_quantity': int(year_df[year].values[0])})

In [35]:
mm_json[:5]

[{'season_year': 1950, 'round_quantity': 7},
 {'season_year': 1951, 'round_quantity': 8},
 {'season_year': 1952, 'round_quantity': 8},
 {'season_year': 1953, 'round_quantity': 9},
 {'season_year': 1954, 'round_quantity': 9}]

In [37]:
# Save file as JSON.
with open('../formula1_data/init_data/round_quantites.json', 'w') as f:
    json.dump(mm_json, f)