### Get the Round Counts

Create season year and round quantity values to populate drop down menu on con_standings page.

In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('../api_data/races.csv', index_col='raceId')
df.head()

,year,round,circuitId,name,date,time,url
raceId,,,,,,,
1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [3]:
df = df.set_index(['year'])[['round', 'name']]
df.head()

      round                   name
year
2009      1  Australian Grand Prix
2009      2   Malaysian Grand Prix
2009      3     Chinese Grand Prix
2009      4     Bahrain Grand Prix
2009      5     Spanish Grand Prix

In [4]:
# Get list of years.
years = df.index.unique().to_list()

In [5]:
# Round Names.
r_names = {}

In [6]:
# Loop through each year to create master json for round names.
for year in years:
    r_names[year] = df[df.index == year].set_index('round').to_dict(orient='index')

In [7]:
df[df.index == 2009].set_index('round').to_dict(orient='index')

{1: {'name': 'Australian Grand Prix'},
 2: {'name': 'Malaysian Grand Prix'},
 3: {'name': 'Chinese Grand Prix'},
 4: {'name': 'Bahrain Grand Prix'},
 5: {'name': 'Spanish Grand Prix'},
 6: {'name': 'Monaco Grand Prix'},
 7: {'name': 'Turkish Grand Prix'},
 8: {'name': 'British Grand Prix'},
 9: {'name': 'German Grand Prix'},
 10: {'name': 'Hungarian Grand Prix'},
 11: {'name': 'European Grand Prix'},
 12: {'name': 'Belgian Grand Prix'},
 13: {'name': 'Italian Grand Prix'},
 14: {'name': 'Singapore Grand Prix'},
 15: {'name': 'Japanese Grand Prix'},
 16: {'name': 'Brazilian Grand Prix'},
 17: {'name': 'Abu Dhabi Grand Prix'}}

In [8]:
# Dump the JSON for use in app.
with open('hide_testing/all_names.json', 'w') as f:
    json.dump(r_names, f, indent=2)